body {

  margin: 0;
  padding: 20px;

  font-family: sans-serif;

  background: #f7f4ff;

  display: flex;
  justify-content: center;

}

.container {

  width: 100%;
  max-width: 500px;

  text-align: center;

}

h1 {

  color: #8b6cff;

}

input {

  display: block;

  width: 220px;

  margin: 12px auto;

  padding: 12px;

  border-radius: 12px;

  border: 2px solid #d5c8ff;

  font-size: 16px;

}

button {

  margin-top: 15px;

  padding: 12px 20px;

  border: none;

  border-radius: 12px;

  background: #a78bff;

  color: white;

  font-size: 16px;

  cursor: pointer;

}

#game-screen {

  display: none;

  margin-top: 30px;

}

#dice-area {

  margin-top: 30px;

  font-size: 90px;

}

#result-text {

  margin-top: 25px;

  font-size: 28px;

  color: #7b5cff;

  font-weight: bold;

}
